<div *ngIf="loading == false; else loadingInfo">
  <div>
    <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Search for todos" />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User ID</th>
        <th scope="col">Title</th>
        <th scope="col" class="text-center">Completed</th>
        <th scope="col" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
          let todo of todos
            | todoFilter: filterText
            | paginate
              : {
                  itemsPerPage: pagingInfo.itemsPerPage,
                  currentPage: pagingInfo.currentPage
                }
        ">
        <th scope="row">{{ todo.id }}</th>
        <td>{{ todo.userId }}</td>
        <td routerLink="/../todos/{{ todo.id }}">{{ todo.title }}</td>
        <td class="text-center">
          <ng-template [ngIf]="todo.completed" [ngIfElse]="mines" class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#198754"
              class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
          </ng-template>
          <ng-template #mines>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dc3545" class="bi bi-dash-circle-fill"
              viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"></path>
            </svg>
          </ng-template>
        </td>
        <td class="text-center">
          <a class="link-primary me-4" routerLink="/../todos/update/{{ todo.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
              viewBox="0 0 16 16">
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
            </svg>
          </a>
          <a class="link-danger" (click)="delete(todo.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x"
              viewBox="0 0 16 16" style="cursor: pointer">
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <pagination-controls (pageChange)="pagingInfo.currentPage = $event"></pagination-controls>
  </div>
</div>

<ng-template #loadingInfo>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>